TEMPLATE_VMID=9013
TEMPLATE_NAME="debian-13-cloudinit"

IMAGE_URL="https://cloud.debian.org/images/cloud/trixie/latest/debian-13-genericcloud-amd64.qcow2"
IMAGE_FILE="debian-13-genericcloud-amd64.qcow2"
IMAGE_DIR="/root/proxmox-cloud-images"

STORAGE="local-lvm"
BRIDGE="vmbr0"

MEMORY_MB=2048
CORES=2
DISK_SIZE="30G"

CIUSER="debian"
SSHKEY_FILE="/root/.ssh/id_ed25519.pub"

START_AFTER_CREATE=true
ENABLE_SERIAL_CONSOLE=false

ALLOW_DESTROY_EXISTING=false
FORCE_IMAGE_DOWNLOAD=false
ALLOW_UNSAFE_STORAGE=false

TEST_VMID=2113
TEST_NAME="debian-13-cloudinit-test"
